<div data-ng-show="loading">
    <p class="text-center"><i class="fa fa-spinner fa-spin fa-5x"></i></p>
</div>

<div data-ng-if="!addon || addon.AddonName.length === 0">
    <h1 class="text-center">
        The addon with that ID could not be found!
    </h1>
</div>

<div data-ng-show="!loading">

    <div class="jumbotron text-center">
        <h1>
            Details for {{ addon.AddonName }}
        </h1>
    </div>

    <div class="row well">
        <div class="col-lg-6">
            <a href="#/addons/">
                <small>
                    Back to addons...
                </small>
            </a>
        </div>
        <div class="col-lg-3 pull-right">
            <button class="btn btn-default" data-ng-click="updateAddon()"><span class="fa fa-edit"></span>  Edit this addon</button>
        </div>
        <div class="col-lg-3 pull-right">
            <button class="btn btn-default" data-ng-click="delete()"><span class="glyphicon glyphicon-remove"></span> Delete this addon</button>
        </div>
    </div>

    <p>The full details for {{ addon.AddonName }} can be found below:</p>

    <div class="col-lg-12 clearLeft well-lg">
        <table class="table table-striped">
            <tr>
                <td>
                    <strong>Name</strong>
                </td>
                <td>
                    {{ addon.AddonName }}
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Publisher</strong>
                </td>
                <td>
                   {{ addon.Publisher }}
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Game Title</strong>
                </td>
                <td>
                    {{ addon.GameTitle }}
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Description</strong>
                </td>
                <td>
                    {{ addon.Description }}
                </td>
            </tr>
        </table>
    </div>

</div>