<div class="jumbotron text-center">
    <h1><i class="fa fa-rocket"></i> Accessories</h1>

    <p>{{ message }}</p>
</div>

<div>
    <p class="text-center" data-ng-show="loading"><i class="fa fa-spinner fa-spin fa-5x"></i></p>
</div>

<div data-ng-show="!loading">
    <table class="table table-striped">
        <tr>
            <th>Name</th>
            <th>Game</th>
        </tr>
        <tr data-ng-repeat="item in accessories">
            <td><a href="#/accessories/{{ item.AccessoryId }}">{{ item.Name }}</a></td>
            <td>{{ item.GameTitle }}</td>
        </tr>
    </table>
</div>