<div class="jumbotron text-center">
    <h1><i class="fa fa-rocket"></i> Accessories</h1>

    <p>{{ message }}</p>
</div>

<div>
    <p class="text-center" data-ng-show="loading"><i class="fa fa-spinner fa-spin fa-5x"></i></p>
</div>

<div data-ng-show="!loading">
    <div class="row" data-ng-show="!showAddNew">
        <div class="col-lg-12 pull-right">
            <button class="btn btn-default" data-ng-click="showAddNewAccessory()"><span class="glyphicon glyphicon-plus-sign"></span>  Add a new accessory</button>
        </div>
    </div>

    <div class="row well" data-ng-show="showAddNew">
        <form name="accessoryForm" data-ng-submit="submitForm(accessoryForm.$valid)" novalidate>
            <div class="col-lg-12 row">
                <div class="col-md-3">
                    <label for="name">Enter a name: </label>
                    <input data-ng-model="name" data-ng-required="true" data-ng-maxlength="255" class="form-control" name="name" type="text" placeholder="Activison" />
                    <p data-ng-show="accessoryForm.name.$invalid && !accessoryForm.name.$pristine" class="help-block">Accessory name is required.</p>
                    <p data-ng-show="accessoryForm.name.$error.maxlength" class="help-block">Name is too long (maximum 255 characters!).</p>
                </div>
                <div class="col-md-3">
                    <label for="game">Choose a game: </label>
                    <select name="game" data-ng-required="true" data-ng-model="gameId" class="form-control">
                        <option data-ng-repeat="item in games | orderBy: 'Title' " value="{{ item.GameId }}">{{ item.Title }}</option>
                    </select>
                    <p data-ng-show="accessoryForm.game.$invalid && !accessoryForm.game.$pristine" class="help-block">Game is required.</p>
                </div>
                <div class="col-md-3">
                    <label for="Type">Enter a type: </label>
                    <input data-ng-model="type" type="text" name="Type" class="form-control" placeholder="USA" />
                </div>
                <div class="col-md-3">
                    <label for="Description">Add a description: </label>
                    <input data-ng-model="description" type="text" name="Description" class="form-control" placeholder="USA" />
                </div>
            </div>
            <div class="row col-lg-12 top-buffer text-right">
                <button class="btn btn-default top-buffer" data-ng-disabled="accessoryForm.$invalid" type="submit"><span class="glyphicon glyphicon-plus-sign"></span> Add a new accessory!</button>
            </div>
        </form>
    </div>

    <table class="table table-striped well top-buffer">
        <tr>
            <th>Name</th>
            <th>Game</th>
        </tr>
        <tr data-ng-repeat="item in accessories">
            <td><a href="#/accessories/{{ item.AccessoryId }}">{{ item.Name }}</a></td>
            <td>{{ item.GameTitle }}</td>
        </tr>
    </table>
</div>