<div class="jumbotron text-center">
    <h1><i class="fa fa-puzzle-piece"></i> Addons</h1>

    <p>{{ message }}</p>
</div>

<div>
    <p class="text-center" data-ng-show="loading"><i class="fa fa-spinner fa-spin fa-5x"></i></p>
</div>

<div data-ng-show="!loading">
    <table class="table table-striped">
        <tr>
            <th>Addon Name</th>
            <th>Game</th>
            <th>Publisher</th>
        </tr>
        <tr data-ng-repeat="item in addons">
            <td><a href="#/addons/{{ item.AddonId }}">{{ item.AddonName }}</a></td>
            <td>{{ item.GameTitle }}</td>
            <td>{{ item.Publisher }}</td>
        </tr>
    </table>
</div>