<div class="jumbotron text-center">
    <h1><i class="fa fa-puzzle-piece"></i> Addons</h1>

    <p>{{ message }}</p>
</div>

<div>
    <p class="text-center" data-ng-show="loading"><i class="fa fa-spinner fa-spin fa-5x"></i></p>
</div>

<div data-ng-show="!loading">
    <div class="row" data-ng-show="!showAddNew">
        <div class="col-lg-12 pull-right">
            <button class="btn btn-default" data-ng-click="showAddNewAddon()"><span class="glyphicon glyphicon-plus-sign"></span>    Add a new addon</button>
        </div>
    </div>
    <div class="row well" data-ng-show="showAddNew">
        <form class="col-lg-12" name="addonForm" novalidate data-ng-submit="submitForm(addonForm.$valid)">
            <div class="col-lg-12 row">
                <div class="col-md-3">
                    <label for="title">Enter addon title: </label>
                    <input data-ng-model="title" data-ng-required="true" data-ng-maxlength="255" class="form-control" name="title" type="text" placeholder="Activison" />
                    <p data-ng-show="addonForm.title.$invalid && !addonForm.title.$pristine" class="help-block">Addon title is required.</p>
                    <p data-ng-show="addonForm.title.$error.maxlength" class="help-block">Title is too long (maximum 255 characters!).</p>
                </div>
                <div class="col-md-3">
                    <label for="game">Choose a game: </label>
                    <select name="game" data-ng-required="true" data-ng-model="gameId" class="form-control">
                        <option data-ng-repeat="item in games | orderBy: 'Title' " value="{{ item.GameId }}">{{ item.Title }}</option>
                    </select>
                    <p data-ng-show="addonForm.game.$invalid class=" help-block">Game is required.</p>
                </div>
                <div class="col-md-3">
                    <label for="description">Add a description: </label>
                    <input data-ng-model="description" type="text" name="description" class="form-control" placeholder="USA" />
                </div>
                <div class="col-md-3">
                    <label for="releaseDate">Enter the release date: </label>
                    <input data-ng-model="releaseDate" type="text" name="releaseDate" class="form-control" placeholder="20-12-15" />
                </div>
            </div>
            <div class="row col-lg-12 text-right">
                <button class="btn btn-default top-buffer" data-ng-disabled="addonForm.$invalid" type="submit"><span class="glyphicon glyphicon-plus-sign"></span> Add a new Addon!</button>
            </div>
        </form>
    </div>

    <table class="table table-striped well top-buffer">
        <tr>
            <th>Addon Name</th>
            <th>Game</th>
            <th>Publisher</th>
        </tr>
        <tr data-ng-repeat="item in addons">
            <td><a href="#/addons/{{ item.AddonId }}">{{ item.AddonName }}</a></td>
            <td>{{ item.GameTitle }}</td>
            <td>{{ item.Publisher }}</td>
        </tr>
    </table>
</div>