<!-- about.html -->
<div class="jumbotron text-center">
    <h1><i class="fa fa-gamepad"></i> Games</h1>
    <p>All the games!</p>
</div>

<div class="row" data-ng-show="!showAddNew">
    <div class="col-lg-12 pull-right">
        <button class="btn btn-default" data-ng-click="showAddNewGame()"><span class="glyphicon glyphicon-plus-sign"></span>  Add a new game</button>
    </div>
</div>

<div>
    <p class="text-center" data-ng-show="loading"><i class="fa fa-spinner fa-spin fa-5x"></i></p>
</div>

<div data-ng-show="!loading">
    <div class="row well" data-ng-show="showAddNew">
        <form class="col-lg-12" name="gameForm" data-ng-submit="submitForm(gameForm.$valid)" novalidate>
            <div class="col-md-3">
                <label for="publisher">Enter a title: </label>
                <input data-ng-model="Name" data-ng-required="true" data-ng-maxlength="255" class="form-control" name="Name" type="text" value="White Label" placeholder="Call of Duty 2" />
                <p data-ng-show="gameForm.Name.$invalid && !gameForm.Name.$pristine" class="help-block">Game name is required.</p>
            </div>
            <div class="col-md-3">
                <label for="Publisher">Choose a publisher: </label>
                <select name="Publisher" data-ng-required="true" data-ng-model="Publisher" class="form-control">
                    <option data-ng-repeat="item in publishers | orderBy: 'Name' " value="{{ item.PublisherId }}">{{ item.Name }}</option>
                </select>
                <p data-ng-show="gameForm.Publisher.$invalid" class="help-block">Publisher name is required.</p>
            </div>
            <div class="col-md-3">
                <label for="release">Enter the release date: </label>
                <input data-ng-model="ReleaseDate" class="form-control" name="release" type="text" placeholder="dd-MM-yy e.g. 31-10-15" />
            </div>
            <div class="col-md-3 top-buffer text-right">
                <button class="btn btn-default" data-ng-disabled="gameForm.$invalid" type="submit"><span class="glyphicon glyphicon-plus-sign"></span> Add a new Game!</button>
            </div>
        </form>
    </div>

    <div class="col-md-12 top-buffer" data-ng-show="!loading">
        <p>Total games we have a record of: {{ totalGames }}</p>
        <p>List of all available games. You can sort and filter this table.</p>
    </div>

    <div class="col-md-10 col-md-offset-1 well-lg" data-ng-show="!loading">
        <form>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-search"></i></div>

                    <input type="text" class="form-control" placeholder="Search game titles" data-ng-model="searchGames">
                </div>
            </div>
        </form>
    </div>

    <table class="table table-striped well" data-ng-show="!loading">
        <tr>
            <th>
                <a href="" data-ng-click="sortType = 'Title'; sortReverse = !sortReverse">
                    Game Title
                    <span data-ng-show="sortType == 'Title' && !sortReverse" class="fa fa-caret-down"></span>
                    <span data-ng-show="sortType == 'Title' && sortReverse" class="fa fa-caret-up"></span>
                </a>
            </th>
            <th>
                <a href="" data-ng-click="sortType = 'PublisherName'; sortReverse = !sortReverse">
                    Publisher
                    <span data-ng-show="sortType == 'PublisherName' && !sortReverse" class="fa fa-caret-down"></span>
                    <span data-ng-show="sortType == 'PublisherName' && sortReverse" class="fa fa-caret-up"></span>
                </a>
            </th>
            <th>
                <a href="" data-ng-click="sortType = 'ReleaseDate'; sortReverse = !sortReverse">
                    Release Date
                    <span data-ng-show="sortType == 'ReleaseDate' && !sortReverse" class="fa fa-caret-down"></span>
                    <span data-ng-show="sortType == 'ReleaseDate' && sortReverse" class="fa fa-caret-up"></span>
                </a>
            </th>
        </tr>
        <tr data-ng-repeat="item in games | orderBy:sortType:sortReverse | filter: searchGames track by $index">
            <td>
                <a href="#/games/{{ item.GameId }}">{{ item.Title }}</a>
            </td>
            <td>
                {{ item.PublisherName }}
            </td>
            <td>
                {{ item.ReleaseDate | date:"dd/MM/yyyy 'at' h:mma"}}
            </td>
        </tr>
    </table>
</div>