<div class="jumbotron text-center">
    <h1>Login</h1>
</div>
<p>Haven't yet created an account? Please register here: <a href="#register"><i class="fa fa-asterisk"></i> Register</a></p>

<form role="form">
    <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" class="form-control" id="username" name="username"/>
    </div>
    <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" class="form-control" id="password" name="password" />
    </div>
    <button type="button" name="loginButton" id="loginButton" class="btn btn-primary">Login</button>
</form>