<div>
    <div class="modal-header">
        <h3 class="modal-title">Edit for {{ publisher.Name }}</h3>
    </div>
    <form novalidate name="editPublisher">
        <div class="modal-body">
            <p>
                <label for="editName">Name</label>
                <input class="form-control" data-ng-required="true" data-ng-maxlength="255" type="text" name="editName"  data-ng-model="publisher.Name" value="{{ publisher.Name }}" />
                <p data-ng-show="editPublisher.editName.$invalid && !editPublisher.editName.$pristine" class="help-block">Publisher name is required.</p>
                <span data-ng-bind="name"></span>
            </p>
            <p>
                <label for="editLocation">Location</label>
                <input class="form-control" data-ng-model="publisher.Location" value="{{ publisher.Location }}" type="text" name="editLocation" />
                <span data-ng-bind="location"></span>
            </p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" data-ng-click="ok()" data-ng-disabled="editPublisher.$invalid"><span class="fa fa-save"></span>  Save</button>
            <button class="btn btn-warning" type="button" data-ng-click="cancel()">Cancel</button>
        </div>
    </form>
</div>