<div>
    <div class="modal-header">
        <h3 class="modal-title">Edit {{ game.Title }}</h3>
    </div>
    <form novalidate name="editGame">
        <div class="modal-body">
            <p>
                <label for="editTitle">Title</label>
                <input class="form-control" data-ng-required="true" data-ng-maxlength="255" type="text" name="editTitle" data-ng-model="game.Title" value="{{ game.Title }}" />
                <p data-ng-show="editGame.editTitle.$invalid && !editGame.editTitle.$pristine" class="help-block">Game name is required.</p>
            </p>
            <p>
                <label for="editDate">Release Date</label>
                <input class="form-control" data-ng-model="game.ReleaseDate" type="text" name="editDate" value="{{ game.ReleaseDate }}"/>
            </p>
            <p>
                <label for="editPublisher">Game publisher</label>
                <select name="editPublisher" class="form-control" data-ng-required="true" data-ng-model="publisher" data-ng-options="item.Name for item in publishers track by item.PublisherId">
                </select>
                <p data-ng-show="editGame.editPublisher.$invalid && !editGame.editPublisher.$pristine" class="help-block">Publisher is required.</p>
            </p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" data-ng-click="ok()" data-ng-disabled="editGame.$invalid"><span class="fa fa-save"></span>  Save</button>
            <button class="btn btn-warning" type="button" data-ng-click="cancel()">Cancel</button>
        </div>
    </form>
</div>