<div>
    <div class="modal-header">
        <h3 class="modal-title">Edit this item</h3>
    </div>
    <form novalidate name="editAccessory">
        <div class="modal-body">
            <p>
                Leave blank to keep the item as it is.
            </p>
            <p>
                <label for="editName">Name</label>
                <input class="form-control" data-ng-required="true" data-ng-maxlength="255" type="text" name="editName" data-ng-model="accessory.Name" value="{{ accessory.Name }}"/>
                <p data-ng-show="editAccessory.editName.$invalid && !editAccessory.editName.$pristine" class="help-block">Accessory name is required.</p>
            </p>
            <p>
                <label for="editType">Type</label>
                <input class="form-control" data-ng-model="accessory.Type" value="{{ accessory.Type }}" type="text" name="editType" />
            </p>
            <p>
                <label for="editDescription">Description</label>
                <textarea class="form-control" data-ng-model="accessory.Description" value="{{ accessory.Description}}" name="editDescription"></textarea>
            </p>
            <p>
                <label for="editGame">Game</label>
                <select name="editGame" class="form-control" data-ng-required="true" data-ng-model="accessory.game" data-ng-options="item.Title for item in games track by item.GameId">
                </select>
                <p data-ng-show="editAccessory.editGame.$invalid && !editAccessory.editGame.$pristine" class="help-block">Game is required.</p>
            </p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" data-ng-click="ok()" data-ng-disabled="editAccessory.$invalid"><span class="fa fa-save"></span>  Save</button>
            <button class="btn btn-warning" type="button" data-ng-click="cancel()">Cancel</button>
        </div>
    </form>
</div>