<div>
    <div class="modal-header">
        <h3 class="modal-title">Edit this item</h3>
    </div>
    <form novalidate name="editAccessory">
        <div class="modal-body">
            <p>
                Leave blank to keep the item as it is.
            </p>
            <p>
                <label for="editName">Name</label>
                <input class="form-control" data-ng-required="true" data-ng-maxlength="255" type="text" name="editName" data-ng-model="name" />
                <p data-ng-show="editAccessory.editName.$invalid && !editAccessory.editName.$pristine" class="help-block">Accessory name is required.</p>
                <span data-ng-bind="name"></span>
            </p>
            <p>
                <label for="editLocation">Type</label>
                <input class="form-control" data-ng-model="location" type="text" name="editLocation" />
                <span data-ng-bind="location"></span>
            </p>
            <p>
                <label for="editDescription">Description</label>
                <textarea class="form-control" data-ng-model="description" name="editDescription"></textarea>
                <span data-ng-bind="description"></span>
            </p>
            <p>
                <label for="editGame">Game</label>
                <select name="editGame">
                    <option data-ng-repeat="game in games">{{ game.Title }}</option>
                </select>
                <p data-ng-show="editAccessory.editGame.$invalid && !editAccessory.editGame.$pristine" class="help-block">Game is required.</p>
            </p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" data-ng-click="ok()" data-ng-disabled="editAccessory.$invalid"><span class="fa fa-save"></span>  Save</button>
            <button class="btn btn-warning" type="button" data-ng-click="cancel()">Cancel</button>
        </div>
    </form>
</div>