<div>
    <div class="modal-header">
        <h3 class="modal-title">Edit this item</h3>
    </div>
    <form novalidate name="editAddon">
        <div class="modal-body">
            <p>
                Leave blank to keep the item as it is.
            </p>
            <p>
                <label for="editName">Name</label>
                <input class="form-control" data-ng-required="true" data-ng-maxlength="255" type="text" name="editName" data-ng-model="addon.AddonName" value="{{ addon.Name }}"/>
                <p data-ng-show="editAddon.editName.$invalid && !editAddon.editName.$pristine" class="help-block">Publisher name is required.</p>
                </p>
            <p>
                <label for="editDate">Release Date</label>
                <input class="form-control" data-ng-model="addon.ReleaseDate" value="{{ addon.ReleaseDate }}" type="text" name="editDate" />
            </p>
            <p>
                <label for="editDescription">Description</label>
                <textarea class="form-control" data-ng-model="addon.Description" value=" {{ addon.Description }}" name="editDescription"></textarea>
            </p>
            <p>
                <label for="editLocation">Game</label>
                <select name="editGame" data-ng-required="true" class="form-control">
                    <option data-ng-repeat="game in games">
                        {{ game.Title }}
                    </option>
                </select>
                <p data-ng-show="editAddon.editGame.$invalid && !editAddon.editGame.$pristine" class="help-block">Game title required.</p>
            </p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" data-ng-click="ok()" data-ng-disabled="editAddon.$invalid"><span class="fa fa-save"></span>  Save</button>
            <button class="btn btn-warning" type="button" data-ng-click="cancel()">Cancel</button>
        </div>
    </form>
</div>